@model EffectCert.ViewModels.Main.ExpertDecisionViewModel

<h3>@ViewBag.Title</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" required id="number" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" required id="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="ApplicationId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option value="@Model.Application?.Id">@Model.Application?.Number</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="Application" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="Application" asp-action="Edit" asp-route-id="" id="ApplicationIdEdit" class="btn-icons-animation" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="Application" asp-action="Details" asp-route-id="" id="ApplicationIdDetails" class="btn-icons-animation" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="Application" asp-action="Delete" asp-route-id="" id="ApplicationIdDelete" class="btn-icons-animation" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="ApplicationId" class="text-danger" id="ApplicationIdWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConformityMarkInfo" class="control-label"></label>
                <input asp-for="ConformityMarkInfo" class="form-control" id="conformityMarkInfo" />
                <span asp-validation-for="ConformityMarkInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expert" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="ExpertId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option value="@Model.Expert?.Id">@Model.Expert?.ContractorLegalEmployee?.ContractorIndividual?.LastName @Model.Expert?.ContractorLegalEmployee?.ContractorIndividual?.FirstName</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="AssessBodyEmployee" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBodyEmployee" asp-action="Edit" asp-route-id="" id="ExpertIdEdit" class="btn-icons-animation" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBodyEmployee" asp-action="Details" asp-route-id="" id="ExpertIdDetails" class="btn-icons-animation" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBodyEmployee" asp-action="Delete" asp-route-id="" id="ExpertIdDelete" class="btn-icons-animation" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="ExpertId" class="text-danger" id="ExpertIdWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidDate" class="control-label"></label>
                <input asp-for="ValidDate" class="form-control" id="validDate" />
                <span asp-validation-for="ValidDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocsAnalizeExpert" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="DocsAnalizeExpertId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)">
                            <option value="@Model.DocsAnalizeExpert?.Id">@Model.DocsAnalizeExpert?.ContractorLegalEmployee?.ContractorIndividual?.LastName @Model.DocsAnalizeExpert?.ContractorLegalEmployee?.ContractorIndividual?.FirstName</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="AssessBodyEmployee" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBodyEmployee" asp-action="Edit" asp-route-id="" id="DocsAnalizeExpertIdEdit" class="btn-icons-animation" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBodyEmployee" asp-action="Details" asp-route-id="" id="DocsAnalizeExpertIdDetails" class="btn-icons-animation" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBodyEmployee" asp-action="Delete" asp-route-id="" id="DocsAnalizeExpertIdDelete" class="btn-icons-animation" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="DocsAnalizeExpertId" class="text-danger" id="DocsAnalizeExpertIdWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocsAnalizeExpertSignDate" class="control-label"></label>
                <input asp-for="DocsAnalizeExpertSignDate" class="form-control" id="docsAnalizeExpertSignDate" />
                <span asp-validation-for="DocsAnalizeExpertSignDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestProtocols" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="TestProtocolsIds" class="form-control js-example-basic-multiple" required>
                        @foreach (var testProtocol in Model.TestProtocols)
                        {
                            <option value="@testProtocol.Id">@testProtocol.Number</option>
                        }
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="Product" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="TestProtocolsIds" class="text-danger" id="testProtocolsIdsWarning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CreateScriptsPartial");}
    @{await Html.RenderPartialAsync("_MainViewScripts");}
    <script>
        $(document).ready(function () {
            let selectElements = [
                { id: '#ApplicationId', url: '/Application/GetApplications/', placeholder: 'Выберите заявку' },
                { id: '#ExpertId', url: '/AssessBodyEmployee/GetAssessBodyEmployees/', placeholder: 'Выберите эксперта' },
                { id: '#DocsAnalizeExpertId', url: '/AssessBodyEmployee/GetAssessBodyEmployees/', placeholder: 'Выберите эксперта' },
                { id: '#TestProtocolsIds', url: '/TestProtocol/GetTestProtocols/', placeholder: 'Выберите протокол' }
            ];

            establishSelect2Algorithm(selectElements);
        });
    </script>
}
