@model IEnumerable<EffectCert.ViewModels.Main.ExpertDecisionViewModel>

<h3>@ViewBag.Title</h3>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestProtocols)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date.ToShortDateString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application!.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expert!.ContractorLegalEmployee!.ContractorIndividual!.LastName) @{Html.DisplayFor(modelItem => item.Expert!.ContractorLegalEmployee!.ContractorIndividual!.FirstName[0]);}.
            </td>
            <td>
            @foreach (var product in item.TestProtocols)
            {
                <p>№@Html.DisplayFor(model => product.Number) от @Html.DisplayFor(model => product.Date.ToShortDateString())</p><br>
            }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
