@model EffectCert.ViewModels.Documents.AttestateViewModel

<h3>@ViewBag.Title</h3>

<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @{ var dateStr = Model.Date.ToShortDateString(); }
            @Html.DisplayFor(model => dateStr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidDate)
        </dt>
        <dd class = "col-sm-10">
            @{ var validDateStr = Model.Date.ToShortDateString(); }
            @Html.DisplayFor(model => validDateStr)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к списку</a>
    </form>
</div>
