@model EffectCert.ViewModels.Main.ApplicationViewModel

<h3>@ViewBag.Title</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" required id="number" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" required id="date" type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElectronicNumber" class="control-label"></label>
                <input asp-for="ElectronicNumber" class="form-control" id="electronicNumber" />
                <span asp-validation-for="ElectronicNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElectronicDate" class="control-label"></label>
                <input asp-for="ElectronicDate" class="form-control" id="electronicdate" type="date" />
                <span asp-validation-for="ElectronicDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssessBody" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="AssessBodyId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option value="@Model.AssessBody?.Id" selected>@Model.AssessBody?.ShortName</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="AssessBody" asp-action="Create" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBody" asp-action="Edit" asp-route-id="" id="AssessBodyIdEdit" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBody" asp-action="Details" asp-route-id="" id="AssessBodyIdDetails" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="AssessBody" asp-action="Delete" asp-route-id="" id="AssessBodyIdDelete" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="AssessBodyId" class="text-danger" id="AssessBodyIdWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractorLegal" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="ContractorLegalId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option value="@Model.ContractorLegal?.Id">@Model.ContractorLegal?.ShortName</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="ContractorLegal" asp-action="Create" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="ContractorLegal" asp-action="Edit" asp-route-id="" id="ContractorLegalIdEdit" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="ContractorLegal" asp-action="Details" asp-route-id="" id="ContractorLegalIdDetails" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="ContractorLegal" asp-action="Delete" asp-route-id="" id="ContractorLegalIdDelete" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="ContractorLegalId" class="text-danger" id="ContractorLegalIdWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schema" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="SchemaId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option value="@Model.Schema.Id">@Model.Schema.Name</option>
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="Schema" asp-action="Create" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="Schema" asp-action="Edit" asp-route-id="" id="SchemaIdEdit" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="Schema" asp-action="Details" asp-route-id="" id="SchemaIdDetails" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="Schema" asp-action="Delete" asp-route-id="" id="SchemaIdDelete" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" hidden><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="SchemaId" class="text-danger" id="SchemaIdWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products" class="control-label"></label>
                <div style="overflow-inline:hidden;">
                    <div style="width:78%; display:inline-block;">
                        <select asp-for="Products" class="form-control js-example-basic-multiple" required>
                            @foreach (var product in Model.Products)
                            {
                                <option value="@product.Id">@product.Name</option>
                            }
                        </select>
                    </div>
                    <div style="display:inline-block;">
                        <a asp-controller="Product" asp-action="Create" onmouseover="StartAnimation(this)" onmouseout="StopAnimation(this)" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="Products" class="text-danger" id="ProductsWarning"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CreateScriptsPartial");}
    @{await Html.RenderPartialAsync("_MainViewScripts");}
    <script>
        $(document).ready(function () {
            let selectElements = [
                { id: '#AssessBodyId', url: '/AssessBody/GetAssessBodyies/', placeholder: 'Выберите ОПС' },
                { id: '#ContractorLegalId', url: '/ContractorLegal/GetContractorLegals/', placeholder: 'Выберите юр.лицо' },
                { id: '#SchemaId', url: '/Schema/GetSchemas/', placeholder: 'Выберите схему' },
                { id: '#Products', url: '/Product/GetProducts/', placeholder: 'Выберите продукцию' }
            ];

            establishSelect2Algorithm(selectElements);
        });
    </script>
}
