@using EffectCert.ViewModels.Documents;

@model IEnumerable<EffectCert.ViewModels.Contractors.LaboratoryViewModel>

<h3>@ViewBag.Title</h3>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorLegal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attestate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorLegal.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => (item.Attestate ?? new AttestateViewModel()).Number)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
