@model EffectCert.ViewModels.Main.IssueDecisionViewModel

<h3>@ViewBag.Title</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" required id="number" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" required id="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="ApplicationId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option value="@Model.Application?.Id">@Model.Application?.Number</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="Application" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="Application" asp-action="Edit" asp-route-id="" id="ApplicationIdEdit" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="Application" asp-action="Details" asp-route-id="" id="ApplicationIdDetails" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="Application" asp-action="Delete" asp-route-id="" id="ApplicationIdDelete" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="ApplicationId" class="text-danger" id="ApplicationIdWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificate" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="CertificateId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)">
                            <option value="@Model.Certificate?.Id">@Model.Certificate?.Number</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="Certificate" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="Certificate" asp-action="Edit" asp-route-id="" id="CertificateIdEdit" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="Certificate" asp-action="Details" asp-route-id="" id="CertificateIdDetails" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="Certificate" asp-action="Delete" asp-route-id="" id="CertificateIdDelete" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="CertificateId" class="text-danger" id="CertificateIdWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Declaration" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="DeclarationId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)">
                            <option value="@Model.Declaration?.Id">@Model.Declaration?.Number</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="Declaration" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="Declaration" asp-action="Edit" asp-route-id="" id="DeclarationIdEdit" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="Declaration" asp-action="Details" asp-route-id="" id="DeclarationIdDetails" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="Declaration" asp-action="Delete" asp-route-id="" id="DeclarationIdDelete" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="DeclarationId" class="text-danger" id="DeclarationIdWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpertDecision" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="ExpertDecisionId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option value="@Model.ExpertDecision?.Id">@Model.ExpertDecision?.Number</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="ExpertDecision" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="ExpertDecision" asp-action="Edit" asp-route-id="" id="ExpertDecisionIdEdit" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="ExpertDecision" asp-action="Details" asp-route-id="" id="ExpertDecisionIdDetails" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="ExpertDecision" asp-action="Delete" asp-route-id="" id="ExpertDecisionIdDelete" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="ExpertDecisionId" class="text-danger" id="ExpertDecisionIdWarning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recommendation" class="control-label"></label>
                <div class="row justify-content-between">
                    <div class="col-md">
                        <select asp-for="RecommendationId" class="form-control js-example-basic-single" onchange="changeref(this), setVisibilityButtons(this)" required>
                            <option value="@Model.Recommendation?.Id">@Model.Recommendation?.Number</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="Recommendation" asp-action="Create" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-plus.png" height="24" width="24" /></a>
                        <a asp-controller="Recommendation" asp-action="Edit" asp-route-id="" id="RecommendationIdEdit" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-pencil.png" height="24" width="24" /></a>
                        <a asp-controller="Recommendation" asp-action="Details" asp-route-id="" id="RecommendationIdDetails" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-info.png" height="24" width="24" /></a>
                        <a asp-controller="Recommendation" asp-action="Delete" asp-route-id="" id="RecommendationIdDelete" class="btn-icons-animation" target="_blank"><img src="~/icons/icons8-trash.png" height="24" width="24" /></a>
                    </div>
                </div>
                <span asp-validation-for="RecommendationId" class="text-danger" id="RecommendationIdWarning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CreateScriptsPartial");}
    @{await Html.RenderPartialAsync("_MainViewScripts");}
    <script>
        $(document).ready(function () {
            let selectElements = [
                { id: '#ApplicationId', url: '/Application/GetApplications/', placeholder: 'Выберите заявку' },
                { id: '#CertificateId', url: '/Certificate/GetCertificates/', placeholder: 'Выберите сертификат' },
                { id: '#DeclarationId', url: '/Declaration/GetDeclarations/', placeholder: 'Выберите декларацию' },
                { id: '#ExpertDecisionId', url: '/ExpertDecision/GetExpertDecisions/', placeholder: 'Выберите заключение эксперта' },
                { id: '#RecommendationId', url: '/Recommendation/GetRecommendations/', placeholder: 'Выберите рекомендацию' }
            ];

            establishSelect2Algorithm(selectElements);
        });
    </script>
}
